*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video, canvas{
    max-width: 100%;
    max-height: 100%;
}

body{

}
a{
    text-decoration: none;
}
.container{
    width: 1088px;
}

header > div{
    background-image: url(../images/Image.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav-list li{
    margin: 44px 22px;
    text-transform: uppercase;
    opacity: 1;
}

.page-nav-list li a{
    color: #ffffff;
    font: Bold 16px/22px "Nunito Sans";
}